@import url("./reset.css");


body { 
    margin: 0;
    background: #f4f6f8;
    font-family:
    Roboto, sans-serif;
}

.fade-in {
    animation:fadeIn 0.4s ease-in; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}